@import "tailwindcss";

:root {
  --app-text: #1e0d26;
  --app-background: #ede0f5;
  --app-primary: #532466;
  --app-secondary: #d78ebb;
  --app-accent: #9b3659;
}

.dark {
  --app-text: #ead9f2;
  --app-background: #170a1f;
  --app-primary: #c899db;
  --app-secondary: #712855;
  --app-accent: #9b3659;
}

@theme {
  --color-text: var(--app-text);
  --color-background: var(--app-background);
  --color-primary: var(--app-primary);
  --color-secondary: var(--app-secondary);
  --color-accent: var(--app-accent);
}

body {
  color: var(--app-text);
  background-color: var(--app-background);
}